<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Image Retrieval System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param> 
    <param-name>SERVER_ADDRESS_css</param-name> 
    <param-value>pc-10-058:8080</param-value> 
  </context-param> 
  <context-param> 
    <param-name>SQLServerName</param-name> 
    <param-value>jdbc:odbc:ImageRtvSystem</param-value> 
  </context-param> 
  <context-param> 
    <param-name>SQLServerUser</param-name> 
    <param-value>sa</param-value> 
  </context-param> 
  <context-param> 
    <param-name>SQLServerPassword</param-name> 
    <param-value>bcmmacau</param-value> 
  </context-param> 
  <context-param>
    <param-name>DOCAddress</param-name>
    <param-value>http://ImgRetrieval.main.bcm.com.mo:9090/ImgRetrieval/</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>connect</servlet-name>
  	<servlet-class>org.bcm.signature.SigConnectionServlet</servlet-class>
  	<init-param>
        <param-name>SQLServerName</param-name>
        <param-value>jdbc:odbc:ImageRtvSystem</param-value>
    </init-param>
    <init-param>
        <param-name>SQLServerUser</param-name>
        <param-value>sa</param-value>
    </init-param>
    <init-param>
        <param-name>SQLServerPassword</param-name>
        <param-value>bcmmacau</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>connect</servlet-name>
  	<url-pattern>/BCM/connect/*</url-pattern>
  </servlet-mapping>
  

  <servlet>
  	<servlet-name>verify</servlet-name>
  	<servlet-class>org.bcm.signature.VerifyPwServlet</servlet-class>
  	<init-param>
        <param-name>SERVER_ADDRESS</param-name>
        <param-value>pc-10-058:8080</param-value>
    </init-param>
    <init-param>
        <param-name>MaxInactiveInterval</param-name>
        <param-value>900</param-value>
    </init-param>
    <init-param>
        <param-name>AS400name</param-name>
        <param-value>jdbc:as400://S657274B</param-value>
    </init-param>
    <init-param>
        <param-name>AS400user</param-name>
        <param-value>PSTELLER</param-value>
    </init-param>
    <init-param>
        <param-name>AS400password</param-name>
        <param-value>TELLER</param-value>
    </init-param>
    <init-param>
        <param-name>SQLServerName</param-name>
        <param-value>jdbc:odbc:ImageRtvSystem</param-value>
    </init-param>
    <init-param>
        <param-name>SQLServerUser</param-name>
        <param-value>sa</param-value>
    </init-param>
    <init-param>
        <param-name>SQLServerPassword</param-name>
        <param-value>bcmmacau</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>verify</servlet-name>
  	<url-pattern>/BCM/verify/*</url-pattern>
  </servlet-mapping>
     
  
<error-page>
  <error-code>404</error-code>
  <location>/../error.html</location>
</error-page>
<error-page>
  <exception-type>java.io.IOException</exception-type>
  <location>/../error.html</location>
</error-page>
<error-page>
	<error-code>500</error-code>
	<location>/../error.html</location>
</error-page>


</web-app>